*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parentReg{
    margin-top: 100px;
    width: 96%;
    height: 100vh;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right ,#a09e9e66, #897a7a6e, rgba(98, 118, 98, 0.4));
    border-radius: 10px;
}
.RegUser{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.RegUser h1{
  display: flex;
  align-items: center;
  justify-content: center;
}
#formReg{
    display: flex;
    flex-direction: column;
    width: 450px;
}
#formReg label{
    font-size: 18px;
    font-weight: 500;
}
#formReg input{
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}
.RegUser a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}