*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home{
    width: 96%;
    background: linear-gradient(
        to right,
        rgba(72, 75, 109, 0.429),
        rgba(46, 46, 159, 0.237),
        rgba(1, 22, 117, 0.484)
    );
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 1px 0.5px 3px 0px black;
}

.hender{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hender h1{
    font-size: 50px;
    margin-left: 100px;
}

.hender h1 span{
    background: linear-gradient(to right, red, blue, green);
    -webkit-background-clip: text;
    color: transparent;
}

.img{
     width: 700px;
     height: 450px;
}

.img img{
    width: 700px;
    height: 450px;
}

button{
    width: 150px;
    height: 60px;
    font-size: 22px;
    border: none;
    border-radius: 15px;
    color: black;
    background: linear-gradient(
        to right,
        rgba(255, 0, 0, 0.556),
        rgba(67, 67, 190, 0.704),
        rgba(95, 119, 95, 0.573)
    );
    box-shadow: 1px 1px 1px 1px black;
    cursor: pointer;
    margin-left: 100px;
}

button:hover{
    box-shadow: 1px 0.5px 2px 1px black;
}

button a{
    text-decoration: none;
    color: black;
}

@media (max-width: 992px){

    .home{
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .hender h1{
        font-size: 40px;
    }

    .img img{
        width: 350px;
    }

}

@media (max-width: 600px){

    .hender h1{
        font-size: 30px;
    }

    .img img{
        width: 250px;
    }

}