.container{
    margin-top: 100px;
    width: 96%;
    height: 100vh;
}
.DocLog{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
input{
    margin: 20px;
}