
.DoctorHelp{
    padding: 20px;
}
.DoctorHelp label{
    font-weight: bold;
    margin-right: 350px;
}
.DoctorHelp input{
    height: 40px;
    padding: 20px;
    font-size: 18px;
    border-radius: 10px;
    width: 550px;
}
.DoctoDes{
    padding: 50px;
}